# 1. Directorios del Entorno Virtual
.venv/
venv/
env/

# 2. Archivos de Python Compilados y Caché
__pycache__/
*.pyc
*.pyo
*.pyd

# 3. Datos Generados y Guardados Localmente
# La carpeta de datos crudos (datasets)
data/
# Archivos de Logs y Temporales
*.log
*.tmp
*.temp

# 4. Bases de Datos (SQLite)
# El archivo del Diario de Síntomas
*.db
*.sqlite
*.sqlite3

# 5. Modelos de Machine Learning y Objetos Binarios 
# Modelos de Keras/TensorFlow guardados:
*.h5
*.hdf5
saved_model/
checkpoints/

# Objetos de serialización (pickle) guardados por data_prep.py:
# esto incluye label_encoder.pkl y severity_map.pkl
*.pkl
*.pickle
# archivo de NumPy para arrays muy grandes:
*.npy

# 6. Archivos del SO y IDE (VS Code)
.DS_Store
.vscode/

